<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
  <contextName>logback</contextName>
  <property name="LOG_PATTERN"
            value="%d %5p [%X{X-B3-TraceId},%X{X-B3-SpanId}] ${PID} --- [%15.15t] %-40.40logger{39} : %m%n"/>

  <!--输出到控制台-->
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>${LOG_PATTERN}</pattern>
    </layout>
  </appender>
<!--

  &lt;!&ndash;按天生成日志&ndash;&gt;
  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <Prudent>true</Prudent>
    &lt;!&ndash;滚动策略，按照时间滚动 TimeBasedRollingPolicy&ndash;&gt;
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>
        log/%d{yyyy-MM-dd}/city-radar.log
      </FileNamePattern>
      &lt;!&ndash;只保留最近90天的日志&ndash;&gt;
      <maxHistory>90</maxHistory>
      &lt;!&ndash;用来指定日志文件的上限大小，那么到了这个值，就会删除旧的日志&ndash;&gt;
      <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>
-->

  <root level="info">
    <appender-ref ref="console"/>
    <!--<appender-ref ref="file"/>-->
  </root>
</configuration>
